<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>

    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    </head>

    <head th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
<nav
        th:fragment="navbar"
        class="navbar navbar-nav navbar-expand-lg  navbar-collapse navbar-dark bg-dark">

    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">SIPAYROLL</a>
        </div>
        <div class="navbar-collapse">
        <ul class="nav navbar-nav mr-auto text-light bg-dark ">
            <li class="dropdown bg-dark ">
                <a class="dropdown-toggle text-light"  data-toggle="dropdown" href="#">User
                    <span class="sr-only text-light"></span></a>
                <ul class="dropdown-menu bg-dark">
                    <li><a th:href="@{/user/addUser}" class="bg-dark text-light">Add User<span class="sr-only"></span></a></li>
                    <li><a th:href="@{/user/changePassword} "class="bg-dark text-light">Change Password<span class="sr-only"></span></a></li>
                    <li><a th:href="@{/logout}" class="bg-dark text-light">LogOut<span class="sr-only"></span></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle text-light" data-toggle="dropdown" href="#">Gaji
                    <span class="sr-only text-light"></span></a>
                <ul class="dropdown-menu bg-dark">
                    <li><a th:href="@{/gaji/viewall}"class="bg-dark text-light">ViewAll Gaji<span class="sr-only"></span></a></li>
                    <li><a sec:authorize="hasAnyAuthority('Kepala Departemen HR','Staff Payroll')" th:href="@{/gaji/add}" class="bg-dark text-light">Add Gaji<span class="sr-only"></span></a></li>
                    <li><a sec:authorize="hasAnyAuthority('Kepala Departemen HR')" th:href="@{/gaji/status/viewall}" class="bg-dark text-light">Ubah Status Gaji<span class="sr-only"></span></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle text-light" data-toggle="dropdown" href="#">Lembur
                    <span class="sr-only text-light"></span></a>
                <ul class="dropdown-menu bg-dark">
                    <li><a th:href="@{/lembur/view}" class="bg-dark text-light">ViewAll Lembur<span class="sr-only"></span></a></li>
                    <li><a sec:authorize="hasAnyAuthority('Karyawan')" th:href="@{/lembur/add}" class="bg-dark text-light">Add Lembur<span class="sr-only"></span></a></li>
                </ul>
            </li>
        </ul>
        </div>
    </div>

</nav>
</body>

<footer th:fragment="foot">
    <div id="time"></div>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('time').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};
            return i;
    </script>
</footer>
</html>