<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Lowongan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="row"><br><br></div>
    <div class="row">
        <div class="col align-self-start"></div>
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header">
                    <h3>Add Lowongan</h3>
                </div>
                <div class="card-body">
    <form th:action="@{/lowongan/add}"th:object="${lowongan}" method = "POST">
            <label >Divisi</label>
                <input type="text" class="form-control" name="divisi">
            <label >Posisi</label>
                <input type="text" class="form-control" name="posisi">

            <label >Jumlah</label>
                <input type="number" class="form-control" name="jumlah" placeholder="Masukkan Jumlah Karyawan">
            <label >Jenis Lowongan</label>
                <select name="jenisLowongan" class="form-control">
                    <option value="">Pilih Jenis</option>
                    <option value="1">Full Time</option>
                    <option value="2">Part Time</option>
                    <option value="3">Internship</option>
                    <option value="4">Freelance</option>
                </select>
        <br><br>
        <p th:text="${notes}"></p>
                <button class="btn btn-dark" type="submit">Simpan</button>

    </form>
</div>
        </div>
    </div>
        <div class="col align-self-end"></div>
    </div>
</body>
</html>