<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Bonus</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <nav th:replace="fragments/fragment :: navbar"></nav>
</head>
<body>
<div class="container-fluid">
    <div class="row"><br><br></div>
    <div class="row">
        <div class="col align-self-start"></div>
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header">
                    <h3>Add Bonus</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/bonus}" th:object="${bonus}" method="POST">
                        Pilih UUID Karyawan: <br>
                        <select class="form-control" th:name="karyawanList"  >
                            <option value="" hidden selected > -- Pilih Karyawan -- </option>
                            <option th:each="karyawan : ${karyawanGajiId}" th:text="${karyawan.key}" th:value="${karyawan.value}" ></option>
                        </select>
                        <br><br>
                        Pilih Jenis Bonus: <br>
                        <select class="form-control" th:name="jenisBonus">
                            <option value="" hidden selected > -- Pilih Jenis Bonus -- </option>
                            <option th:each="jenis : ${jenisBonus}" th:text="${jenis.nama}" th:value="${jenis.id}" ></option>
                        </select>
                        <br><br>
                        Tanggal bonus ditambahkan:<br>
                        <input type="datetime-local" class="form-control" th:name="tanggalDiberikan" th:value="${bonus.tanggalDiberikan}"/>
                        <br><br>
                        <button  class="btn btn-dark" type="submit" value="Submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col align-self-end"></div>
    </div>
</div>
</body>
</html>