<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Status Gaji</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <nav th:replace="fragments/fragment :: navbar"></nav>
</head>
<body>
<div class="container-fluid">
    <div class="row"><br><br></div>
    <div class="row">
        <div class="col align-self-start"></div>
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header">
                    <h3>Change Status Gaji</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/gaji/status/update-status}" th:object="${gaji}" method="POST">
                        <input type="hidden" name="id" th:value="*{id}"/>
                        Karyawan:<br>
                        <input class="form-control disabled" th:value="*{getUserModel().getUsername()}" readonly/>
                        <br>
                       Gaji Pokok:<br>
                        <input class="form-control disabled" name="gajiPokok" th:value="*{gajiPokok}" readonly/>
                        <br>
                        Tanggal Masuk:<br>
                        <input class="form-control disabled" name="tanggalMasuk" type="datetime-local" th:value="*{{tanggalMasuk}}" readonly/>
                        <br>
                        User Pengaju:<br>
                        <input class="form-control disabled" type="text"  th:value="*{getUserPengajuModel().getUsername()}" readonly/>
                        <br>
                        <input type="hidden" name="usernya" th:value="*{getUserModel().getUsername()}"/>
                        <input type="hidden" name="uuid_pengaju" th:value="*{getUserPengajuModel.getUuid()}"/>
                        Status Persetujuan:<br>
                        <select class="form-control" name="statusPertujuan" th:field="*{statusPersetujuan}">
                            <option selected value="">-- Pilih Status Persetujuan --</option>
                            <option th:value="1">Ditolak</option>
                            <option th:value="2">Disetujui</option>
                        </select>
                        <br><br>
                        <a th:href="@{/}" class="btn btn-outline-secondary btn-lg">Cancel</a>
                        <button class="btn btn-primary btn-lg" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col align-self-end"></div>
    </div>
</div>
</body>
</html>