<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Lembur</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <nav th:replace="fragments/fragment :: navbar"></nav>
</head>
<body>
    <div class="container-fluid">
        <dic class="row"><br><br></dic>
        <div class="row">
            <div class="col align-self-start"></div>
            <div class="col align-self-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Add Lembur</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/lembur/add}" th:object="${lembur}" method="POST">
                            Waktu Mulai:<br>
                            <input type="datetime-local" class="form-control" name="waktuMulai"/>
                            <br><br>
                            Waktu Selesai:<br>
                            <input type="datetime-local" class="form-control" name="waktuSelesai"/>
                            <br><br>
                            Kompensasi Per Jam:<br>
                            <input type="text" class="form-control" name="kompensasiPerJam" th:value="120000" readonly />
                            <br><br>
                            <button  class="btn btn-dark" type="submit" value="Submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col align-self-end"></div>
        </div>
    </div>
</body>
</html>