<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid container h-75" style="margin: auto auto">

    <div class="card text-white align-items-center bg-dark d-flex justify-content-center align-center ">
        <div class="card-body">
            <p class="card-text">Selamat datang di SIPAYROLL!.</p>
        </div>
    </div>
<br>
    <div class="btn-group d-flex align-items-center justify-content-around align-center " role="group" aria-label="Basic example">
        <a th:href="@{/}" class="btn btn-dark">Home</a>
    </div>


</div>
</body>
</html>
