<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Gaji</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h2>User</h2>
<div>
    <table clas="table">
        <thead>
        <tr>
            <th>Nama</th>
            <th>Tempat Lahir</th>
            <th>Tanggal Lahir</th>
            <th>Nomor Telepon</th>
            <th>Alamat</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td th:text="${user.nama}"></td>
        <td th:text="${user.tempatLahir}"></td>
        <td th:text="${user.tanggalLahir}"></td>
        <td th:text="${user.noTelepon}"></td>
        <td th:text="${user.alamat}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}" class="btn btn-dark">Home</a>
</div>
</body>
</html>