<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add Gaji</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <section>
        <div class="container-fluid">
            <h2 align="center" style="margin-top: 5%;">Daftar Gaji</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table">
                    <thead class="text-light bg-dark">
                    <th>Nama Pegawai</th>
                    <th>Gaji</th>
                    <th>Total Pendapatan Bulan Ini</th>
                    <th>Aksi</th>
                    </thead>
                    <tbody>
                    <tr th:each="gaji, iterationStatus: ${listGaji}">
                        <td th:text="${gaji.getUserModel().username}"></td>
                        <td th:text="${gaji.gajiPokok}"></td>
                        <td th:text="${gaji.gajiPokok + jumlahLembur.get((iterationStatus.count)-1)}"></td>
                        <td>
                            <a th:href="@{/}" class="btn text-light bg-dark">Lihat</a>
                            <a sec:authorize="hasAnyAuthority('Staff Payroll','Kepala Departemen HR')" th:href="@{/gaji/update/} + ${gaji.id}" class="btn btn-warning" style="background-color:#EEC81B; color:white;">Update</a>
                            <a sec:authorize="hasAnyAuthority('Staff Payroll','Kepala Departemen HR')" th:href="@{gaji/delete/} + ${gaji.id}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
        </div>
    </section>
</body>
</html>